/node_modules
/public/hot
/public/storage
/public/assets/images
/public/error_log.log
/storage/*.key
/vendor
.env
.editorconfig
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.htaccess1
error_log.log
*.log
